/* @import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap"); */

@import "tailwindcss";
@plugin '@tailwindcss/typography';

@import "@fontsource/rubik-distressed";
@import "@fontsource/rubik-dirt";
@import "@fontsource/metal-mania";

body {
	background-color: #0c0c0c;
	display: flex;
}

.font-hard {
	font-family: "Rubik Dirt", system-ui;
}

.font-stress {
	font-family: "Rubik Distressed", system-ui;
}

.paper-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: repeat;
	mix-blend-mode: multiply;
	background-image: url("lib/img/paper_overlay.png");
	pointer-events: none;
}
