@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik+Distressed&display=swap');

/* @import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap"); */

@import "tailwindcss";
@plugin '@tailwindcss/typography';



@theme {
	--font-hard: "Rubik Dirt", system-ui;
	--font-stress: "Rubik Distressed", system-ui;
}

.paper-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: repeat;
	mix-blend-mode: multiply;
	background-image: url("lib/img/paper_overlay.png");
	pointer-events: none;
}
